extends layout

mixin bsCard(title, text, hrefTxt, href)
  .card(style='width: 15rem;').text-center
    //- .card-header.text-center.p-1
    i(class!=attributes.class)
    //img.card-img-top(src='...' alt='...')
    .card-body.text-left.pb-1
      h5.card-title.text-center= title
      p.card-text.text-muted= text
    .card-footer.text-left.bg-white.border-top-0.pt-1
      a.card-link(href=href)= hrefTxt

mixin bsCardHeader(title, text, hrefTxt, href)
  .card(style='width: 15rem;').text-center
    .card-header.text-center.p-1
      i.fas.fa-globe-europe.fa-5x.mt-4
      h5.card-title.m-1= title
      //img.card-img-top(src='...' alt='...')
    .card-body.text-justify
      p.card-text.text-muted= text
      a.btn.btn-primary(href=href)= hrefTxt

mixin bsCardCenter(title, text, hrefTxt, href)
  .card(style='width: 15rem;').text-center
    //- .card-header.text-center.p-1
    i.fas.fa-globe-europe.fa-5x.mt-4
    //img.card-img-top(src='...' alt='...')
    .card-body.text-center
      h5.card-title.text-center= title
      p.card-text.text-muted= text
      a.card-link(href=href)= hrefTxt
      a(href=href)&attributes(attributes)= name



block navbar
  .d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.shadow-sm
    h5.my-0.mr-md-auto.font-weight-normal
      img.img-fluid(src='/images/gerb.png')
      |  АГП 
      | #{title}
    nav.my-2.my-md-0.mr-md-3
      a.p-2.text-dark(href='#') Завести заявку
      a.p-2.text-dark(href='#') Заявки
      a.p-2.text-dark(href='#') Проекты
      a.p-2.text-dark(href='#') Поддержка
    a.btn.btn-outline-primary(href='/logout') Выйти


block content
  .container-fluid
    nav(aria-label='breadcrumb')
    ol.breadcrumb
      li.breadcrumb-item
        a(href="#") 
          i.fa.fa-home
          Home
      li.breadcrumb-item
        a(href='#') Проекты
      li.breadcrumb-item.active(aria-current='page') Data
    .row
      // .col-md-2.d-none.d-md-block.bg-light.sidebar
      .col.d-flex
        .card-deck
          +bsCard('UV-geoinfo', 'Гео информационный проект - Управляем Вместе', 'Перейти к UV_GEO', '/map')(class="fas fa-globe-europe fa-5x mt-4")
          +bsCard('Templates', 'Работа с шаблонами интерфейса', 'Template', '/app/uvtemplate/list')(class="far fa-file-alt fa-5x mt-4")

block footer
  footer
    // Текст внутри блока выровнен по правому краю. Цвет фона блока #2a2a2a, значения полей от блока до его содержимого равно 1em, цвет текста внутри блока белый (#fff)
    div.text-muted(style='padding:1em; ')
      | &copy; АГП-УИТ 2019&nbsp;